<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.piskunou.solvdlaba.persistence.AirlineRepository">

    <resultMap id="elementaryMap" type="Airline" autoMapping="false">
        <id property="id" column="airline_id"/>
        <result property="name" column="airline_name"/>
    </resultMap>

    <resultMap id="fullMap" type="Airline" autoMapping="false" extends="elementaryMap">
        <result property="iata" column="airline_iata_code"/>
        <result property="icao" column="airline_icao_code"/>
        <result property="callsign" column="airline_callsign"/>
    </resultMap>

    <select id="findAll" resultMap="fullMap">
        select id as airline_id,
               name as airline_name,
               iata as airline_iata_code,
               icao as airline_icao_code,
               callsign as airline_callsign
        from airlines
    </select>

    <select id="findById" resultMap="fullMap">
        select id as airline_id,
               name as airline_name,
               iata as airline_iata_code,
               icao as airline_icao_code,
               callsign as airline_callsign
        from airlines
        where id = #{id}
    </select>

    <select id="findByDesignator" resultMap="fullMap">
        select id as airline_id,
               name as airline_name,
               iata as airline_iata_code,
               icao as airline_icao_code,
               callsign as airline_callsign
        from airlines
        where iata = #{designator} or
              icao = #{designator} or
              callsign = #{designator}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into airlines(name, iata, icao, callsign)
               values(#{name}, #{iata}, #{icao}, #{callsign})
    </insert>

    <update id="updateNameById">
        update airlines set name = #{name} where id = #{id}
    </update>

    <update id="updateNameByDesignator">
        update airlines set name = #{name} where iata = #{designator} or
                                                 icao = #{designator} or
                                                 callsign = #{designator}
    </update>

    <delete id="removeById">
        delete from airlines where id = #{id}
    </delete>

    <update id="removeByDesignator">
        delete from airlines where iata = #{designator} or
                                   icao = #{designator} or
                                   callsign = #{designator}
    </update>

    <select id="isExistsById" resultType="boolean">
        select exists (select from airlines where id = #{id})
    </select>

    <select id="isExistsByName" resultType="boolean">
        select exists (select from airlines where name = #{name})
    </select>

</mapper>