<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.piskunou.solvdlaba.persistence.AirportRepository">

    <resultMap id="airportMap" type="Airport" autoMapping="false">
        <id property="id" column="airport_id"/>
        <result property="name" column="airport_name"/>
    </resultMap>

    <resultMap id="fromAirportMap" type="Airport" autoMapping="false">
        <id property="id" column="airport_from_id"/>
        <result property="name" column="airport_from_name"/>
    </resultMap>

    <resultMap id="toAirportMap" type="Airport" autoMapping="false">
        <id property="id" column="airport_to_id"/>
        <result property="name" column="airport_to_name"/>
    </resultMap>

    <select id="findAll" resultMap="airportMap">
        select id as airport_id,
               name as airport_name
        from airports
    </select>

    <select id="findById" resultMap="airportMap">
        select id as airport_id,
               name as airport_name
        from airports
        where id = #{id}
    </select>
</mapper>