<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.piskunou.solvdlaba.persistence.AirplaneRepository">

    <resultMap id="elementaryMap" type="Airplane" autoMapping="false">
        <id property="id" column="airplane_id"/>
        <result property="model" column="airplane_model"/>
    </resultMap>

    <resultMap id="fullMap" type="Airplane" autoMapping="false" extends="elementaryMap">
        <result property="seatsInRow" column="airplane_seats_in_row"/>
        <result property="rowNo" column="airplane_row_no"/>
    </resultMap>

    <select id="findAll" resultMap="fullMap">
        select id as airplane_id,
               model as airplane_model,
               seats_in_row as airplane_seats_in_row,
               row_no as airplane_row_no
        from airplanes
    </select>

    <select id="findById" resultMap="fullMap">
        select id as airplane_id,
               model as airplane_model,
               seats_in_row as airplane_seats_in_row,
               row_no as airplane_row_no
        from airplanes
        where id = #{id}
    </select>
    
    <select id="search" resultMap="fullMap">
        select id as airplane_id,
               model as airplane_model,
               seats_in_row as airplane_seats_in_row,
               row_no as airplane_row_no
        from airplanes
        where seats_in_row * row_no > #{seatAmount} and
              model like #{modelInquiry}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into airplanes(model, seats_in_row, row_no)
               values(#{model}, #{seatsInRow}, #{rowNo})
    </insert>
    
    <update id="update">
        update airplanes set model = #{model},
                             seats_in_row = #{seatsInRow},
                             row_no = #{rowNo}
        where id = #{id}
    </update>

    <delete id="removeById">
        delete from airplanes where id = #{id}
    </delete>

    <select id="isExistsById" resultType="boolean">
        select exists (select from airplanes where id = #{id})
    </select>

    <select id="isExistsByModel" resultType="boolean">
        select exists (select from airplanes where model = #{model} and id != #{id})
    </select>

</mapper>