<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.piskunou.solvdlaba.persistence.CountryRepository">

    <resultMap id="elementaryMap" type="Country" autoMapping="false">
        <id property="id" column="country_id"/>
        <result property="name" column="country_name"/>
    </resultMap>

    <select id="findAll" resultMap="elementaryMap">
        select id as country_id,
               name as country_name
        from countries
    </select>

    <select id="findById" resultMap="elementaryMap">
        select id as country_id,
               name as country_name
        from countries
        where id = #{id}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into countries(name) values(#{name})
    </insert>

    <update id="update">
        update countries set name = #{name}
        where id = #{id}
    </update>

    <delete id="removeById">
        delete from countries where id = #{id}
    </delete>

    <select id="isExistsById" resultType="boolean">
        select exists (select from countries where id = #{id})
    </select>

    <select id="isExistsByName" resultType="boolean">
        select exists (select from countries where name = #{name} and id != #{id})
    </select>

</mapper>