<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.piskunou.solvdlaba.persistence.PassportRepository">

    <insert id="create" parameterType="Passport">
        insert into passports(fk_passenger_id, "number", identification_no)
        values (#{id}, #{number}, #{identificationNo})
    </insert>

</mapper>